.navigation-menu li {
    display: inline-block; 
    border: 1px solid black;
    background-color: hsl(15, 32%, 83%);
    padding: 16px;
    margin: 8px;
    font-size: 16px;
    border-radius: 5px;
  }
  
  /* Style the anchor tags within the list items */
  .navigation-menu li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
  }
  
  .navigation-menu li a:hover {
    color: #007bff;
  }